<%= form_for(practice) do |f| %>
  <% if practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %>
    <%= f.select :location_id, Location.all.map { |l| [ l.name, l.id ] } %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date  %>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.time_select :start, :default => { :hour => 8, :minute => 30 } %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.time_select :end, :default => { :hour => 12, :minute => 30 } %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Practice.statuses.keys.to_a %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
