<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block">
          Details
        </h3>
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_practice_path(@practice), :style => "float: right; display: inline-block" %>
        <% end %>
      </div>
      <div class="row panel-body">
        <p>
          <strong>Location:</strong>
          <%= @practice.location.name %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @practice.date %>

        <p>
          <strong>Start:</strong>
          <%= format_by_time(@practice.start) %>
        </p>

        <p>
          <strong>End:</strong>
          <%= format_by_time(@practice.end) %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @practice.status %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">

    <div class="filter-options">
      <%= link_to 'Attending', params.permit(:status, :direction, :id, :sort).merge(:status => "attend"),
          :class => "btn btn-success btn-sm" %>
      <%= link_to 'Late', params.permit(:status, :direction, :id, :sort).merge(:status => "late"),
          :class => "btn btn-warning btn-sm" %>
      <%= link_to 'Others', params.permit(:status, :direction, :id, :sort).merge(:status => "other"),
          :class => "btn btn-primary btn-sm" %>
      <%= link_to 'Pending', params.permit(:status, :direction, :id, :sort).merge(:status => "pending"),
          :class => "btn btn-info btn-sm" %>
      <%= link_to 'Skipping', params.permit(:status, :direction, :id, :sort).merge(:status => "skip"),
          :class => "btn btn-danger btn-sm" %>
      <%= link_to 'All', practice_path(@practice), :class => "btn btn-success btn-sm" %>
    </div>

    <span>
      <%= will_paginate @attendees %>
    </span>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th><%= sortable "players.full_name", "Player" %></th>
            <th><%= sortable "status", "Status" %></th>
            <th>Reason</th>
            <% if current_user.admin? %>
              <th><%= sortable "confirm", "Confirm" %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @attendees.each do |attendee| %>
            <tr>
              <td><%= attendee.player.full_name %></td>
              <% if current_user.admin? %>
                <td>
                  <%= best_in_place attendee, :status,
                      :as => :select, :collection => Attendance.statuses.keys.map {|k| [k,k] },
                      value: attendee.status %>
                </td>
              <% else %>
                <td>attendee.status</td>
              <% end %>  
              <td><%= attendee.comment %></td>
              <% if current_user.admin? %>
                <td>
                  <%= best_in_place attendee, :confirm,
                      :as => :checkbox, collection: { false: "No", true: "Yes" },
                      value: attendee.confirm %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
