<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">
      <%= @player.full_name %>
    </h2>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block">
          Details
        </h3>
          <%= link_to 'Edit', edit_player_path(@player), :style => "float: right; display: inline-block" %>
      </div>
      <div class="row panel-body">
        <%= image_tag("players/freakshow_icon", size: "150x150", style: "display: inline-block") %>
        <div style="display: inline-block">
          <p><%= @player.gender %></p>
          <p>Slack: <%= @player.handle %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-long-arrow-right fa-fw"></i>
          Overall Attendance (<%= @player.attendance_record(@after) %>)
        </h3>
      </div>
      <div class="panel-body">
        <%= pie_chart @player.attendance_breakdown(@after) %>
      </div>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Trend</h3>
      </div>
      <div class="panel-body">
        <%= column_chart(
              @player.
                attendances.
                group_by_month { |att| att.practice.date }.
                map do |k, v|
                  [
                    format_by_month(k),
                    (v.select { |a| a.attend? }.count * 100.0 / v.count).to_s(:percentage)
                  ]
                end,
              xtitle: "Month",
              ytitle: "\% Attended",
              min: 0,
              max: 100)%>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Changed?</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <% @player.attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.practice.date %></td>
          <td><%= attendance.status %></td>
          <td><%= attendance.status %></td>
          <td><%= attendance.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
