<%= form_for(attendance) do |f| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :practice %>
    <%= f.select :practice, Practice.all.map { |p| format_date(p.date) } %>
  </div>

  <div class="field">
    <%= f.label :player %>
    <%= f.select :player_id, Player.all.map { |p| p.full_name } %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Attendance.statuses.keys.to_a %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
