<p id="notice"><%= notice %></p>

<p>
  <strong>Practice:</strong>
  <%= @attendance.practice %>
</p>

<p>
  <strong>Player:</strong>
  <%= @attendance.user %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
