<!DOCTYPE html>
<html>
  <head>
    <title>PracticeBot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div id="wrapper" class="container_fluid">
        <% if current_user.present? %>
          <%= render "shared/nav" %>
        <% end %>

        <div id="page-wrapper">
          <div class="container_fluid">

            <div class="row">
              <div class="main-body col-sm-12">
                <% if alert.present? %>
                  <p class="alert"><%= alert %></p>
                <% end %>
                <% if notice.present? %>
                  <p id="notice"><%= notice %></p>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>
